@using System.Text.RegularExpressions
@model IEnumerable<MvcMongoDB01.Models.Employee>
@{
    ViewBag.Title = "Employee List";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<style type="text/css">
    .tranlist tr:nth-child(odd) { background-color: #afc1d9; }
    .tranlist tr:nth-child(even) { background-color: white; }
    .tranlist th { background-color: Black; color: White; }
    .tranlist a { color: White; }
    .smallcolumn { min-width: 20px; } .medcolumn { min-width: 50px; } .bigcolumn { min-width: 100px; } .b150column { min-width: 150px; }
    .linkcolumn { min-width: 90px; text-align: center; } .linkcolumn a { color: Black; } .linkcolumn a:hover { color: Blue; }
    .footstuff { background-color: White;  color: Red; }
    .footstuff a:visited { color: Blue; } .footstuff a { color: Blue;}
    .footstuff td { background-color: White;  border-color: White; }
    .headerstyle th {text-transform: capitalize; text-align:left; }
</style>
<h3>Employees:</h3>
<p>
    There are @Model.Count() employees:
</p>
@{  WebGrid grid = new WebGrid(Model, defaultSort: "FirstName", rowsPerPage: 5);
    if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty()) {grid.SortDirection = SortDirection.Descending;}
}

@{ int firstRecord = (grid.PageIndex * grid.RowsPerPage) + 1;
   int lastRecord = (grid.PageIndex * grid.RowsPerPage) + grid.Rows.Count();

}

    @MvcHtmlString.Create(
        Regex.Replace(grid.GetHtml(
            mode: WebGridPagerModes.All, tableStyle: "tranlist", headerStyle: "headerstyle", firstText: "First", lastText: "Last",
            columns: grid.Columns(
            grid.Column("FirstName", header: "First Name", canSort: false, style: "bigcolumn"),
            grid.Column("LastName", header: "Last Name", canSort: false, style: "bigcolumn"),
            grid.Column("Address", header: "Address", canSort: false, style: "b150column"),
            grid.Column("ContactNo", header: "Contact Number", canSort: false, style: "b150column"),
            grid.Column("Salary", header: "Salary", canSort: false, format: @<text>@item.Salary.ToString("$0.00")</text>, style: "bigcolumn"),
            grid.Column("Id", header: "Action", style: "linkcolumn", canSort: false,
            format: @<text> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })</text>)
        )).ToString(),@"<tfoot>\w*\W*<tr\w*\W*<td","<tfoot><tr class='footstuff'><td></td><td style='color: black;'>Records " + firstRecord + " to " + lastRecord + " of " + grid.TotalRowCount  + "</td><td></td><td></td><td></td><td"))